html,
body,
.container,
.nipple-container {
  height: 100%;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 4em;
}

.data-attribute-item {
  font-size: 1.5em;
}

.data-attribute-label {
  font-weight: bold;
  font-size: 1.3em;
}

.container {
  position: relative;
}

#map {
  border:1px solid #000000;
  height: 20em;
}
